* {
	margin: 0;
	padding: 0;
}
a {color: #44f;}
body {
	border-top: 5px solid #000;
	background: #e8f0f3;
	font-family: Helvetica, Arial, sans-serif;font-size: 12px;
}
#container {
  margin: 40px auto;
  width: 640px;
  -moz-border-radius: 4px;
  background: #fff;
  border: 1px solid #dde;
}
#container #header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
#container #header a {color: #00f;}
#container #header h2 {font-size: 12px;color: #444;text-transform: uppercase;}
#container #header h1 {font-size: 24px;}
#container #header .right {
  float: right;
  font-size: 11px;color: #888;
}
#container #content {
  padding: 20px;
}
#content h2.section {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #444;
}

.right {float: right;}
.clear {clear: both;}

.slaves .slave {
  list-style: none;
  padding-bottom: 20px;margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.slaves .slave h2.identifier {font-size: 18px;}
.slaves .slave .detail {font-size: 12px;color: #888;}
.slaves .slave .capacity .indicator {
  -moz-border-radius: 6px;
  width: 150px;height: 8px;
  padding: 1px;
  border: 1px solid #ccc;
  position: relative;
}
.slaves .slave .capacity .indicator div {
  display: block;position: absolute;
  height: 8px;
  opacity: .5;
  -moz-border-radius: 4px;
}
.slaves .slave .capacity .detail {
  margin-top: 4px;
  font-size: 10px;text-transform: uppercase;
  text-align: right;
}
.slaves .slave .capacity .indicator div.bandwidth {background: #88f;}
.slaves .slave .capacity .detail span.bandwidth {color: #88f;}
.slaves .slave .capacity .indicator div.files {background: #f88;}
.slaves .slave .capacity .detail span.files {color: #f88;}


#footer {
  width: 640px;margin: 0 auto;
  font-size: 11px;color: #468;
}